
.container {
    border: 4px solid;
    border-radius: 16px;
}


.imagemItem {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}

.opciones{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.titulo{
    padding: 0 10px;
}

.titulo p{
    text-shadow: 0 0 5px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
